<a href="https://colab.research.google.com/github/konrad-l/questionnaire/blob/main/Egipt_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import plotly.express as px
import plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
df_raw = pd.read_excel('egipt_all.xlsx')
df = df_raw.copy()
df.head()

,Ankietowany,Źródło,Powód,Czy interesująca,Najmocniejsza strona,Polecenie,Opis wrażeń,Czy odwiedzisz muzuem kolejny raz?,PŁEĆ,WYKSZTAŁCENIE,WIEK,MIEJSCE ZAMIESZKANIA
0,1.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,aranżacja,tak,NaN,tak,kobieta,uczeń,<15,miasto 100 000 - 500 000
1,2.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,aranżacja,tak,"bardzo ciekawe, kreatywne przedstawienie temat...",tak,kobieta,uczeń,15-20,miasto 100 000 - 500 000
2,NaN,"Plakaty, bilbordy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,od Mileny,specjalnie na tę wystawę,tak,eksponaty,tak,NaN,NaN,kobieta,uczeń,21-30,miasto 100 000 - 500 000
4,4.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,eksponaty,tak,NaN,tak,kobieta,wyższe,41-50,miasto 100 000 - 500 000

In [ ]:
df.columns = ['ankietowany', 'zrodlo', 'powod', 'interesujaca', 'strona', 'polecenie', 'wrazenia', 'odwiedzenie', 'plec', 'wyksztalcenie', 'wiek', 'zamieszkanie']
df.columns

Index(['ankietowany', 'zrodlo', 'powod', 'interesujaca', 'strona', 'polecenie',
       'wrazenia', 'odwiedzenie', 'plec', 'wyksztalcenie', 'wiek',
       'zamieszkanie'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ankietowany    399 non-null    float64
 1   zrodlo         470 non-null    object
 2   powod          398 non-null    object
 3   interesujaca   399 non-null    object
 4   strona         640 non-null    object
 5   polecenie      397 non-null    object
 6   wrazenia       297 non-null    object
 7   odwiedzenie    344 non-null    object
 8   plec           339 non-null    object
 9   wyksztalcenie  339 non-null    object
 10  wiek           336 non-null    object
 11  zamieszkanie   333 non-null    object
dtypes: float64(1), object(11)
memory usage: 63.7+ KB

In [ ]:
df['plec'].value_counts()

kobieta              244
mężczyzna             94
kobieta/meżczyzna      1
Name: plec, dtype: int64

**Odwiedzenie**

In [ ]:
df_kobieta = df[df['plec']=='kobieta']
df_kobieta.head()

,ankietowany,zrodlo,powod,interesujaca,strona,polecenie,wrazenia,odwiedzenie,plec,wyksztalcenie,wiek,zamieszkanie
0,1.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,aranżacja,tak,NaN,tak,kobieta,uczeń,<15,miasto 100 000 - 500 000
1,2.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,aranżacja,tak,"bardzo ciekawe, kreatywne przedstawienie temat...",tak,kobieta,uczeń,15-20,miasto 100 000 - 500 000
3,3.0,od Mileny,specjalnie na tę wystawę,tak,eksponaty,tak,NaN,NaN,kobieta,uczeń,21-30,miasto 100 000 - 500 000
4,4.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,eksponaty,tak,NaN,tak,kobieta,wyższe,41-50,miasto 100 000 - 500 000
11,7.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,temat,tak,NaN,tak,kobieta,NaN,41-50,miasto powyżej 500 000

In [ ]:
tmp = df_kobieta['odwiedzenie'].str.capitalize().value_counts()
tmp

Tak         192
Nie wiem     40
Nie           9
Kobieta       1
Name: odwiedzenie, dtype: int64

In [ ]:
k_odwiedzanie = pd.DataFrame(tmp[:3])
k_odwiedzanie.to_excel("odwiedzenie_kobieta.xlsx")

k_odwiedzanie = k_odwiedzanie.reset_index()
k_odwiedzanie.columns = ['Czy_odwiedzisz', 'Ilość']
k_odwiedzanie

  Czy_odwiedzisz  Ilość
0            Tak    192
1       Nie wiem     40
2            Nie      9

In [ ]:
df_men = df[df['plec']=='mężczyzna']
df_men.head()

,ankietowany,zrodlo,powod,interesujaca,strona,polecenie,wrazenia,odwiedzenie,plec,wyksztalcenie,wiek,zamieszkanie
5,5.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,temat,tak,"zarąbista wystawa i informacje, można zabłysną...",tak,mężczyzna,uczeń,<15,miasto 100 000 - 500 000
9,6.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,aranżacja,tak,NaN,tak,mężczyzna,uczeń,<15,miasto 100 000 - 500 000
17,9.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,eksponaty,tak,pożyteczna wiedza,tak,mężczyzna,średnie,15-20,wieś
21,11.0,"Przyjaciele, znajomi, rodzina",specjalnie na tę wystawę,tak,temat,tak,zakakująca dobra,tak,mężczyzna,uczeń,21-30,miasto 50 - 100 000
24,12.0,od Karoliny Fandrejewskiej,specjalnie na tę wystawę,tak,koncepcja kuratorska,tak,"ciekawa koncepcja labiryntu, wystawa płynnie p...",nie wiem,mężczyzna,wyższe,21-30,miasto powyżej 500 000

In [ ]:
tmp = df_men['odwiedzenie'].str.capitalize().value_counts()
tmp

Tak         73
Nie wiem    13
Nie          7
Być może     1
Name: odwiedzenie, dtype: int64

In [ ]:
m_odwiedzanie = pd.DataFrame(tmp[:4])
m_odwiedzanie.to_excel("odwiedzenie_mezczyzna.xlsx")

m_odwiedzanie = m_odwiedzanie.reset_index()
m_odwiedzanie.columns = ['Czy_odwiedzisz', 'Ilość']
m_odwiedzanie

  Czy_odwiedzisz  Ilość
0            Tak     73
1       Nie wiem     13
2            Nie      7
3       Być może      1

In [ ]:
fig = make_subplots(rows=1, cols=2)

fig.add_trace(go.Bar(x=k_odwiedzanie['Czy_odwiedzisz'], y=k_odwiedzanie['Ilość'], name='Kobieta'), row=1, col=1)

fig.add_trace(go.Bar(x=m_odwiedzanie['Czy_odwiedzisz'], y=m_odwiedzanie['Ilość'], name='Mężczyzna'),row=1, col=2)

fig.update_layout(height=600, width=1000, title_text="Czy odwiedzi Pani/Pan Muzeum kolejny raz?")
fig.show()

**Zamieszkanie**

In [ ]:
tmp = df_kobieta['zamieszkanie'].str.capitalize().value_counts()
tmp

Miasto 100 000 - 500 000     102
Miasto powyżej 500 000        48
Miasto do 50 000              30
Wieś                          28
Miasto 50 - 100 000           24
Miasto powyżej 500 000         2
Miasto 100 000 - 500 000       1
Name: zamieszkanie, dtype: int64

In [ ]:
k_zamieszkanie = pd.DataFrame(tmp[:5])
k_zamieszkanie.to_excel("zamieszkanie_kobieta.xlsx")

k_zamieszkanie = k_zamieszkanie.reset_index()
k_zamieszkanie.columns = ['Zamieszkanie', 'Ilość']
k_zamieszkanie

               Zamieszkanie  Ilość
0  Miasto 100 000 - 500 000    102
1    Miasto powyżej 500 000     48
2          Miasto do 50 000     30
3                      Wieś     28
4       Miasto 50 - 100 000     24

In [ ]:
tmp = df_men['zamieszkanie'].str.capitalize().value_counts()
tmp

Miasto 100 000 - 500 000    37
Miasto powyżej 500 000      19
Wieś                        14
Miasto 50 - 100 000         13
Miasto do 50 000            10
Name: zamieszkanie, dtype: int64

In [ ]:
m_zamieszkanie = pd.DataFrame(tmp)
m_zamieszkanie.to_excel("zamieszkanie_mezczyzna.xlsx")

m_zamieszkanie = m_zamieszkanie.reset_index()
m_zamieszkanie.columns = ['Zamieszkanie', 'Ilość']
m_zamieszkanie

               Zamieszkanie  Ilość
0  Miasto 100 000 - 500 000     37
1    Miasto powyżej 500 000     19
2                      Wieś     14
3       Miasto 50 - 100 000     13
4          Miasto do 50 000     10

In [ ]:
fig = make_subplots(rows=1, cols=2)

fig.add_trace(go.Bar(x=k_zamieszkanie['Zamieszkanie'], y=k_zamieszkanie['Ilość'], name='Kobieta'), row=1, col=1)

fig.add_trace(go.Bar(x=m_zamieszkanie['Zamieszkanie'], y=m_zamieszkanie['Ilość'], name='Mężczyzna'),row=1, col=2)

fig.update_layout(height=600, width=1000, title_text="Miejsce zamieszkania")
fig.show()

**Źródło**

In [ ]:
df['zrodlo'] = df['zrodlo'].str.capitalize()
df['zrodlo'] = df['zrodlo'].replace(['Plakaty,bilbordy'], 'Plakaty, bilbordy')
df['zrodlo'] = df['zrodlo'].replace(['Nie wiedziałem o tej wystawie'], 'Nie wiedziałam/em o tej wystawie')
df['zrodlo'] = df['zrodlo'].replace(['Podczas zwiedzania lublinia'], 'Podczas zwiedzania Lublinia')
df['zrodlo'] = df['zrodlo'].replace(['Od mamy'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Rodzina'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Od rodziny'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Od córki'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Żony'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Od siostry'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Od żony'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Od rodziców'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Uczelnia'], 'Szkoła, uczelnia')
df['zrodlo'] = df['zrodlo'].replace(['Od karoliny fandrejewskiej'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Od mileny'], 'Przyjaciele, znajomi, rodzina')
df['zrodlo'] = df['zrodlo'].replace(['Plakat'], 'Plakaty, bilbordy')
df['zrodlo'] = df['zrodlo'].replace(['Plakat, bilbordy'], 'Plakaty, bilbordy')
df['zrodlo'] = df['zrodlo'].replace(['Plakat przed zamkiem'], 'Plakaty, bilbordy')

In [ ]:
tmp = df['zrodlo'].value_counts()
tmp

Internet                                  142
Przyjaciele, znajomi, rodzina             131
Plakaty, bilbordy                          92
Szkoła, uczelnia                           21
Nie wiedziałam/em o tej wystawie           20
Radio/tv                                   18
Informacja turystyczna                     11
Prasa                                      10
Podczas zwiedzania Lublinia                 2
Plakaty, bilbordy                           2
Facebook                                    2
Instagram                                   2
Inne                                        2
Przechodziliśmy                             1
Podszedłem pod zamek                        1
Przechodziłem obok muzeum                   1
Strona www mnwl                             1
Informacja na zamku                         1
Tik tok                                     1
Wernisażeria                                1
Konferencja                                 1
Internet                                    1
Łukasz wiącek                               1
Zauważyłem przechodząc                      1
Szukałam wystawy dla dzieci w lublinie      1
Wykład na temat sakarry                     1
Pracownicy muzeum                           1
Webinar "archeologia żywa"                  1
Name: zrodlo, dtype: int64

In [ ]:
df_kobieta = df[df['plec']=='kobieta']
tmp = df_kobieta['zrodlo'].value_counts()
tmp

Internet                                  81
Przyjaciele, znajomi, rodzina             70
Plakaty, bilbordy                         44
Szkoła, uczelnia                          11
Radio/tv                                   9
Nie wiedziałam/em o tej wystawie           8
Informacja turystyczna                     6
Prasa                                      2
Inne                                       2
Facebook                                   2
Podczas zwiedzania Lublinia                1
Tik tok                                    1
Plakaty, bilbordy                          1
Konferencja                                1
Instagram                                  1
Szukałam wystawy dla dzieci w lublinie     1
Wykład na temat sakarry                    1
Name: zrodlo, dtype: int64

In [ ]:
k_zrodlo = pd.DataFrame(tmp[:11])
k_zrodlo.to_excel("zrodlo_kobieta.xlsx")

k_zrodlo = k_zrodlo.reset_index()
k_zrodlo.columns = ['Źródło', 'Ilość']
k_zrodlo

                              Źródło  Ilość
0                           Internet     81
1      Przyjaciele, znajomi, rodzina     70
2                  Plakaty, bilbordy     44
3                   Szkoła, uczelnia     11
4                           Radio/tv      9
5   Nie wiedziałam/em o tej wystawie      8
6             Informacja turystyczna      6
7                              Prasa      2
8                               Inne      2
9                           Facebook      2
10       Podczas zwiedzania Lublinia      1

In [ ]:
df_men = df[df['plec']=='mężczyzna']
tmp = df_men['zrodlo'].value_counts()
tmp

Przyjaciele, znajomi, rodzina       34
Internet                            24
Plakaty, bilbordy                   17
Nie wiedziałam/em o tej wystawie     7
Szkoła, uczelnia                     4
Radio/tv                             3
Podszedłem pod zamek                 1
Prasa                                1
Przechodziłem obok muzeum            1
Informacja turystyczna               1
Name: zrodlo, dtype: int64

In [ ]:
m_zrodlo = pd.DataFrame(tmp[:8])
m_zrodlo.to_excel("zrodlo_mezczyzna.xlsx")

m_zrodlo = m_zrodlo.reset_index()
m_zrodlo.columns = ['Źródło', 'Ilość']
m_zrodlo

                             Źródło  Ilość
0     Przyjaciele, znajomi, rodzina     34
1                          Internet     24
2                 Plakaty, bilbordy     17
3  Nie wiedziałam/em o tej wystawie      7
4                  Szkoła, uczelnia      4
5                          Radio/tv      3
6              Podszedłem pod zamek      1
7                             Prasa      1

In [ ]:
fig = make_subplots(rows=1, cols=2)

fig.add_trace(go.Bar(x=k_zrodlo['Źródło'], y=k_zrodlo['Ilość'], name='Kobieta'), row=1, col=1)

fig.add_trace(go.Bar(x=m_zrodlo['Źródło'], y=m_zrodlo['Ilość'], name='Mężczyzna'),row=1, col=2)

fig.update_layout(height=600, width=1000, title_text="Z jakiego źródła dowiedział/a się Pan/Pani o wystawie Magia starożytnego Egiptu?")
fig.show()

**Wiek**

In [ ]:
tmp = df_kobieta['wiek'].str.capitalize().value_counts()
tmp

21-30    71
31-40    50
41-50    37
15-20    22
<15      21
51-60    19
>60      13
>15       4
<60       1
Name: wiek, dtype: int64

In [ ]:
k_wiek = pd.DataFrame(tmp)
k_wiek.to_excel("wiek_kobieta.xlsx")

k_wiek = k_wiek.reset_index()
k_wiek.columns = ['Wiek', 'Ilość']
k_wiek

    Wiek  Ilość
0  21-30     71
1  31-40     50
2  41-50     37
3  15-20     22
4    <15     21
5  51-60     19
6    >60     13
7    >15      4
8    <60      1

In [ ]:
tmp = df_men['wiek'].str.capitalize().value_counts()
tmp

21-30    28
31-40    27
<15      13
41-50    10
15-20     7
51-60     3
>60       3
>15       2
Name: wiek, dtype: int64

In [ ]:
m_wiek = pd.DataFrame(tmp)
m_wiek.to_excel("wiek_mezczyzna.xlsx")

m_wiek = m_wiek.reset_index()
m_wiek.columns = ['Wiek', 'Ilość']
m_wiek

    Wiek  Ilość
0  21-30     28
1  31-40     27
2    <15     13
3  41-50     10
4  15-20      7
5  51-60      3
6    >60      3
7    >15      2

In [ ]:
fig = make_subplots(rows=1, cols=2)

fig.add_trace(go.Bar(x=k_wiek['Wiek'], y=k_wiek['Ilość'], name='Kobieta'), row=1, col=1)

fig.add_trace(go.Bar(x=m_wiek['Wiek'], y=m_wiek['Ilość'], name='Mężczyzna'),row=1, col=2)

fig.update_layout(height=600, width=1000, title_text="Przedział wiekowy")
fig.show()